<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
  <head th:replace="~{ header :: contentheader(~{::title},~{::link}) }">
    <title>게시판</title>
    <script src="https://keitiankor.github.io/bbs.js"></script>
  </head>
  <body class="d-flex justify-content-center">
    <div id="total">
      <div th:replace="~{ bodyheader :: topper }"></div>
      <th:block th:if="${sessionid!=null}">
        <button id="submit" class="btn btn-primary">글쓰기</button>
      </th:block>
      <div>
        <table class="table table-primary">
          <tr>
            <td>아이디</td>
            <td>제목</td>
            <td>작성자</td>
          </tr>
          <tr th:each="bbs : ${bbsList}">
            <td th:text="${bbs.id}"></td>
            <td><a th:href="@{post(id=${bbs.id})}" th:text="${bbs.title}"></a></td>
            <td th:text="${bbs.writer}"></td>
          </tr>
        </table>
        <div class="d-flex justify-content-center">
          <th:block th:if="${offset!=0}"> <a href="javascript:before();">이전 페이지</a></th:block>
          &nbsp;
          <th:block th:each="page : ${#numbers.sequence(1,10)}">
            <th:block th:unless="${(page-1)*20>maxpage}">
              <th:block th:if="${offset/20 != page-1}">
                <a th:href="@{bbs(p=${page})}" th:text="${page}"></a>
              </th:block>
              <th:block th:if="${offset/20 == page-1}">
                <p th:text="${page}"></p>
              </th:block>
              &nbsp;
            </th:block>
          </th:block>
          <th:block th:if="${offset != maxpage}"> <a href="javascript:next();">다음 페이지</a> </th:block>
        </div>
      </div>
    </div>
  </body>
</html>
