<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
  <head th:replace="~{ header :: contentheader(~{::title},~{::link}) }">
    <title>게시글 수정</title>
  </head>
  <body>
    <script src="https://keitiankor.github.io/editpost.js"></script>
    <div>
      <p class="visually-hiddle" id="id" th:text="${post.id}"></p>
      <p th:text="|글번호 : ${post.id}|"></p>
      <p id="writer" th:text="|글 작성자 : ${post.writer}|"></p>
      <label for="title">제목</label>
      <input class="form-control d-flex flex-content-center" name="text" id="title" rows="1" th:value="${post.title}" />
      <label for="content">내용</label>
      <textarea class="form-control d-flex flex-content-center" rows="20" name="content" id="content" th:text="${post.content}"></textarea>

      <button class="btn btn-primary" id="edit" type="submit">수정완료</button>
      <button class="btn btn-primary" id="cancel" type="submit">취소</button>
    </div>
  </body>
</html>
