<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
  <head th:replace="~{ header :: contentheader(~{::title},~{::link}) }">
    <title>로그인 / 회원가입</title>
  </head>
  <body class="d-flex justify-content-center">
    <script src="https://keitiankor.github.io/member.js"></script>
    <div>
      <div th:replace="~{ bodyheader :: topper }"></div>
      <th:block th:if="${loggedin == null}">
        <h1>비밀번호는 암호화되지않은 평문으로 저장됩니다!</h1>
        <div class="border-top border-danger border-3">
          <table class="table-primary d-flex justify-content-center">
            <tr>
              <td>ID</td>
              <td><input type="text" id="id" placeholder="ID" /></td>
            </tr>
            <tr>
              <td>PW</td>
              <td><input type="password" id="pw" placeholder="PW" /></td>
            </tr>
            <tr>
              <td colspan="2">
                <button type="submit" id="login" class="btn btn-primary col-12">Login</button>
              </td>
            </tr>
          </table>
          <div class="border-top border-primary border-3">
            <table class="table-primary">
              <tr>
                <td>ID</td>
                <td><input type="text" id="idr" placeholder="ID" /></td>
              </tr>
              <tr>
                <td>PW</td>
                <td><input type="password" id="pwr" placeholder="PW" /></td>
              </tr>
              <tr>
                <td>Name</td>
                <td><input type="text" id="name" placeholder="홍길동" /></td>
              </tr>
              <tr>
                <td>Tel.</td>
                <td><input type="text" id="tel" placeholder="010xxxxxxxx" /></td>
              </tr>
              <tr>
                <td colspan="2">
                  <button type="submit" id="register" class="btn btn-primary col-12">register</button>
                </td>
              </tr>
            </table>
          </div>
        </div>
      </th:block>
      <th:block th:unless="${loggedin == null}">
        <div>
          <p th:utext="${id}"></p>
        </div>
        <button type="reset" id="logout" class="btn btn-danger col-12">Log Out</button>
      </th:block>
    </div>
  </body>
</html>
