<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
  <head th:replace="~{ header :: contentheader(~{::title},~{::link}) }">
    <title>글쓰기</title>
  </head>
  <body>
    <script src="https://keitiankor.github.io/posting.js"></script>
    <div>
      <label for="title">제목</label>
      <input class="form-control d-flex flex-content-center" name="text" id="title" rows="1" />
      <label for="content">내용</label>
      <textarea class="form-control d-flex flex-content-center" rows="20" name="content" id="content"></textarea>

      <button class="btn btn-primary" id="post" type="submit">등록</button>
    </div>
  </body>
</html>
