<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
  <head th:replace="~{ header :: contentheader(~{::title},~{::link}) }">
    <title th:utext="${post.title}"></title>
  </head>
  <body class="d-flex justify-content-center">
    <script src="https://keitiankor.github.io/post.js"></script>
    <div id="total">
      <div th:replace="~{ bodyheader :: topper }"></div>
      <th:block th:if="${sessionid != null}">
        <div class="d-flex justify-content-center" th:text="|${sessionid}님, 어서오세요|"></div>
      </th:block>
      <div>
        <table class="table table-primary">
          <tr>
            <td>글번호</td>
            <td id="id" th:text="${post.id}"></td>
          </tr>
          <tr>
            <td>제목</td>
            <td id="title" th:text="${post.title}"></td>
          </tr>
          <tr>
            <td>내용</td>
            <td id="content" th:utext="${#strings.replace(post.content, newLineChar, '&lt;br/&gt;')}"></td>
          </tr>
          <tr>
            <td>작성자</td>
            <td id="writer" th:text="${post.writer}"></td>
          </tr>
        </table>
        <table class="table table-secondary">
          <tr>
            <td>작성자</td>
            <td>내용</td>
          </tr>
          <th:block th:each="reply : ${replyList}">
            <tr>
              <td th:text="${reply.writer}"></td>
              <td th:text="${reply.content}"></td>
            </tr>
          </th:block>
        </table>
        <th:block th:if="${sessionid != null}">
          <input type="text" id="reply" />
          <button id="comment" type="submit">등록</button>
        </th:block>
        <th:block th:unless="${sessionid != null}">
          <input type="text" id="reply" />
          <button id="comment" type="submit" disabled>등록</button>
        </th:block>
        <br /><br />
        <button id="back" class="btn btn-secondary">리스트로</button>
        <th:block th:if="${sessionid == post.writer}">
          <button id="edit" class="btn btn-warning">수정</button>
          <button id="delete" class="btn btn-danger">삭제</button>
        </th:block>
      </div>
    </div>
  </body>
</html>
