<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
  <head th:replace="~{ header :: contentheader(~{::title},~{::link}) }">
    <title th:utext="product.title"></title>
  </head>
  <body class="d-flex justify-content-center">
    <script src="https://keitiankor.github.io/basket.js"></script>
    <div id="total">
      <th:block th:include="top"></th:block>
      <th:block th:replace="top2"></th:block>
      <div>
        <table class="table table-primary">
          <tr>
            <td>아이디</td>
            <td id="id" th:text="${product.id}"></td>
          </tr>
          <tr>
            <td>상품명</td>
            <td th:text="${product.title}"></td>
          </tr>
          <tr>
            <td>상세설명</td>
            <td th:text="${product.content}"></td>
          </tr>
          <tr>
            <td>가격</td>
            <td th:text="${product.price}"></td>
          </tr>
          <tr>
            <td>이미지</td>
            <td th:text="${product.img}"></td>
          </tr>
          <tr>
            <td colspan="2">
              <input id="basket" type="image" src="img/bag.png" width="100" height="100" />
            </td>
          </tr>
        </table>
      </div>
    </div>
  </body>
</html>
