<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
  <head th:replace="~{ header :: contentheader(~{::title},~{::link}) }">
    <title>상품 리스트</title>
  </head>
  <body class="d-flex justify-content-center">
    <script src="https://keitiankor.github.io/product.js"></script>
    <div id="total">
      <div th:replace="~{ bodyheader :: topper }"></div>
      <div>
        <table class="table table-primary">
          <tr>
            <td>상품명</td>
            <td>상품 가격</td>
            <td>상품 이미지</td>
          </tr>
          <tr th:each="product : ${productList}">
            <td><a th:href="@{product2(id=${product.id})}" th:text="${product.title}"></a></td>
            <td th:text="${product.price}"></td>
            <td th:text="${product.img}"></td>
          </tr>
        </table>
        <div class="d-flex justify-content-center">
          <th:block th:if="${offset!=0}"> <a href="javascript:before();">이전 페이지</a></th:block>
          &nbsp;
          <th:block th:each="page : ${#numbers.sequence(1,10)}">
            <th:block th:unless="${(page-1)*10>maxpage}">
              <th:block th:if="${offset/10 != page-1}">
                <a th:href="@{product(p=${page})}" th:text="${page}"></a>
              </th:block>
              <th:block th:if="${offset/10 == page-1}">
                <p th:text="${page}"></p>
              </th:block>
              &nbsp;
            </th:block>
          </th:block>
          <th:block th:if="${offset != maxpage}"> <a href="javascript:next();">다음 페이지</a> </th:block>
        </div>
      </div>
    </div>
  </body>
</html>
